/*******************************************************************************
                                GENERAL
*******************************************************************************/

.row {
  max-width: 100%;
}

.y-center {
  position: relative;
  top: 50%;
  transform: translateY(20%); }

/*******************************************************************************
                                NAVIGATION
*******************************************************************************/
$background-color: #5d83aa;
$highlight-color: #ff9933;

.menu {
  background-color: $background-color;
  padding: 1rem 3rem;
  height: auto;

  .inline-list {
    text-align: center;

    li {
      float: none;
      display: inline-block;
      margin: 0 1em;
    }

    a {
      color: #fff;
      padding-bottom: 0.5rem;
      &:hover {
        color: $highlight-color;
        transition: all .3s ease-in-out;
      }
    }
    .active a {
      color: $highlight-color;
    }
  }
  .account {
    position: absolute;
    top: 3%;
    right: 3%;

    a , i {
      color: #fff;
    }
  }

  @media only screen and (min-width: 40.063em) {
  height: 4rem;

  .inline-list {
    float: left;
    margin: 0 0 0 1.5rem;
    }

    a:hover {
      border-bottom: 2px solid $highlight-color;
    }
  }

  .account-action {
    float: right;
    margin: -.75rem 0 0 0;

    li {
      margin-left: .2rem;
    }

    a { padding: 0.75rem 1rem;}

    a.signup {
      font-weight: bold;
      background-color: scale-color($background-color, $lightness: 10%);
      border-radius: 3px;
    }
  }
}

.name {
  text-align: center;
  font-size:  1.5rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: #fff;

  i {
    color: $highlight-color;
    margin-right: 0.5rem;
  }

  @media only screen and (min-width: 40.063em) {
    float: left;
  }
}

/*******************************************************************************
                                SIDEBAR
*******************************************************************************/

#sidebar {
    height:100%;
    border-left: 1px solid #999;

}

/*******************************************************************************
                                FOUNDATION OVERRIDES
*******************************************************************************/
.button {
  background-color: #5d83aa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*******************************************************************************
                                ISSUES
*******************************************************************************/
.issue {
    margin: 15px 0 10px 0;
    padding: 5px 0 5px 0;
    font-size:0.8em;
    height:8em;
    background: #f7f7f7;
    color: #333;
    border: none;
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
    overflow:hidden;



}

.Defect {
    border-left: 6px solid crimson;
}

.Question {
    border-left: 6px solid green;
}

.Change {
    border-left: 6px solid blue;
}

.ToDo {
    border-left: 6px solid #333;
}

.FutureEnhancement {
    border-left: 6px solid #BF5700;
}

.issue.active {
  box-shadow: 4px 6px 8px 4px rgba(0,0,0,.25);
  position:relative;
  top:-8px;
  left:-5px;
  z-index: 10;

  .issue-title{
      font-weight:bold
  }
}
