/*******************************************************************************
                                GENERAL
*******************************************************************************/

.row {
  max-width: 100%;
}

.y-center {
  position: relative;
  top: 50%;
  transform: translateY(20%);
}

@mixin ellipsify() {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin label-text-shadow($color) {
  text-shadow: 0 1px 1px darken($color, 30%);
}

/*******************************************************************************
                                COLOR DEFINITIONS
*******************************************************************************/

$background-color: #5d83aa;
$highlight-color: #ff9933;
$red: #F44336;
$pink: #E91E63;
$orange: #EF6C00;
$deepOrange: #FF5722;
$green: #4CAF50;
$blue: #2196F3;
$indigo: #3F51B5;
$purple: #9C27B0;
$brown: #795548;
$grey: #424242;
$blueGrey: #607D8B;
$cyan: #03A9F4;

/*******************************************************************************
                                NAVIGATION
*******************************************************************************/

.menu {
  background-color: $background-color;
  padding: 1rem 3rem;
  height: auto;

  .inline-list {
    text-align: center;

    li {
      float: none;
      display: inline-block;
      margin: 0 1em;
    }

    a {
      color: #fff;
      padding-bottom: 0.5rem;
      &:hover {
        color: $highlight-color;
        transition: all .3s ease-in-out;
      }
    }
    .active a {
      color: $highlight-color;
    }
  }
  .account {
    position: absolute;
    top: 3%;
    right: 3%;

    a , i {
      color: #fff;
    }
  }

  @media only screen and (min-width: 40.063em) {
  height: 4rem;

  .inline-list {
    float: left;
    margin: 0 0 0 1.5rem;
    }

    a:hover {
      border-bottom: 2px solid $highlight-color;
    }
  }

  .account-action {
    float: right;
    margin: -.75rem 0 0 0;

    li {
      margin-left: .2rem;
    }

    a { padding: 0.75rem 1rem;}

    a.signup {
      font-weight: bold;
      background-color: scale-color($background-color, $lightness: 10%);
      border-radius: 3px;
    }
  }
}

.name {
  text-align: center;
  font-size:  1.5rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: #fff;

  i {
    color: $highlight-color;
    margin-right: 0.5rem;
  }

  @media only screen and (min-width: 40.063em) {
    float: left;
  }
}

/*******************************************************************************
                                SIDEBAR
*******************************************************************************/

#sidebar {
    height:100%;
    border-left: 1px solid #999;

}

/*******************************************************************************
                                FOUNDATION OVERRIDES
*******************************************************************************/
.button {
  background-color: $background-color;
  @include ellipsify();
  @include label-text-shadow($background-color);
}

/*******************************************************************************
                                ISSUES
*******************************************************************************/
.issue {
    margin: 15px 0 10px 0;
    padding: 5px 0 5px 0;
    font-size:0.8em;
    height:8em;
    background: #f7f7f7;
    color: #333;
    border: none;
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.3);
    overflow:hidden
}

.Defect {
    border-left: 6px solid $red;
}

.Question {
    border-left: 6px solid $green;
}

.Change {
    border-left: 6px solid $blue;
}

.ToDo {
    border-left: 6px solid $brown;
}

.FutureEnhancement {
    border-left: 6px solid $orange;
}

.issue.active {
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  .issue-title{
      font-weight:bold
  }
}

.commentBox {
  outline: 1px solid #ddd;
  margin: 10px 0 10px;
  padding: 7px;
}

.commentBox p {
  margin: 0;
}

.issueHeading {
  @include ellipsify();
}

.ribbonItem {
  font-size: 1.15rem;
  text-align: center;
  color: white;
  padding: 3px 10px 3px 10px;
  @include ellipsify();
}

.label-Defect {
  background-color: $red;
  @include label-text-shadow($red);
}
.label-Question {
  background-color: $green;
  @include label-text-shadow($green);
}
.label-Todo {
  background-color: $indigo;
  @include label-text-shadow($indigo);
}
.label-Change {
  background-color: $blue;
  @include label-text-shadow($blue);
}
.label-FutureEnhancement {
  background-color: $orange;
  @include label-text-shadow($orange);
}

.label-High {
  background-color: $deepOrange;
  @include label-text-shadow($deepOrange);
}
.label-Medium {
  background-color: $purple;
  @include label-text-shadow($purple);
}
.label-Low {
  background-color: $brown;
  @include label-text-shadow($brown);
}

.label-Open {
  background-color: $cyan;
  @include label-text-shadow($cyan);
}
.label-Closed,
.label-Resolved,
.label-Deferred,
.label-OnHold {
  background-color: $grey;
  @include label-text-shadow($grey);
}
/*******************************************************************************
                                HANDY COLOR CLASSES
*******************************************************************************/
.background {
  background-color: $background-color;
}

.highlight {
  background-color: $highlight-color;
}

.commentBox {
  outline: 1px solid #ddd;
  margin: 10px 0 10px;
  padding: 7px;
}

.commentBox p {
  margin: 0;
}
